body{
    padding: 0;
    margin: 0;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    color: #f0e7e9;
    background: black;
    border-radius: 28px;
    border: 2px solid rgb(100, 14, 14);
    padding: 1px;
    top: 18px;
    padding-bottom: 18px;
    padding-right: 8;
    padding-left: 8;
    height: 20px;
    width: 120px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .container{
    background: linear-gradient(90deg, hsla(40, 55%, 53%, 1) 0%, hsla(347, 52%, 36%, 1) 80%);
    display: flex;
    font-family: Sans-Serif;
    color: white;
    padding: 15px;
    justify-content: space-around;
    font-weight: bolder;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    background-size: cover;
    border: 3px solid #F9C58D;
    height: 70;
    width: 400px;
  }
  img{
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid rgba(170,74,74,0.929);
  }
  .self-explanation{
    margin-left: 30px;
    text-align: center;
    border-left: 3px solid white;
    padding-left: 10px;
  }
